<div class="container">
	<div class="row">
		<div class="jumbotron" id="splash-jumbo">
		  <h1>Explore Spotify.  Graphically.</h1>
		  <p><img class="jumbo-img" src="https://s3-us-west-1.amazonaws.com/beat-tree-images/jumbotron-graphic-nodes.gif"></p>
		  <h3>BeatTree lets users create relationships between tracks on Spotify.  The result is a directed graph of music heritage and inspiration.</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<h3>Join In</h3>
			<p>Create an account to start creating relationships and exploring the relationships other users have created.</p>
			<a class="btn btn-primary" href="users/new" role="button">Sign Up</a>
		</div>
		<div class="col-xs-4">
			<h3>Learn More</h3>
			<p>See recommendations for how to use BeatTree, video tutorials, and what technology has been employed in the BeatTree stack.</p>
			<a class="btn btn-primary" href="learnmore" role="button">Learn More</a>
		</div>
		<div class="col-xs-4">
			<h3>Meet John</h3>
			<p>BeatTree was developed by John Ochs.  Learn more about him and his inspiration to create BeatTree</p>
			<a class="btn btn-primary" href="johnochs" role="button">Meet John</a>
		</div>
	</div>
</div>