<h1>Welcome to Beat-Tree</h1>
<hr>
<p>First, let's search for a track...</p>
<input type='text' id="spotify-search" value=""> <button type="button" class="btn btn-primary" onclick="BTSearch();">Search</button>