<div class="row">
	<h1 class="text-center">Learn More About BeatTree</h1>
</div>
<div class="row">
	<hr>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">BeatTree Recommendations</h3>
		</div>
		<div class="panel-body">
			<div class="col-xs-4">
				<div class="media">
				  <a class="media-left" href="https://www.google.com/chrome/browser/">
				    <img class="recommendation-icons" src="https://s3-us-west-1.amazonaws.com/beat-tree-images/chrome_icon.gif" alt="chrome-icon">
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Use Chrome</h4>
				    <p>
				    	If you're not already, use Google's Chrome Browser.  It has a number of excellent features which allow you to sync your bookmarks across devices, and its search integrates seamlessly with Google.  It's also super fast!  Click the icon to the left to download Chrome.
				    </p>
				  </div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="media">
				  <a class="media-left" href="http://spotify.extole.com/v2/share/6105826395432276473">
				    <img class="recommendation-icons" src="https://s3-us-west-1.amazonaws.com/beat-tree-images/Spotify_Large_Icon.gif" alt="spotify-icon">
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Run Spotify in the Background</h4>
				    <p>
				    	BeatTree relies heavily on Spotify to allow you to play music directly from the browser.  We use Spotify because we think it's a great product.  If you already have the Spotify client, open it up and you're good to go.  If you're not a Spotify user, click the Spotify icon to the left to get a free one-month trial of their Premium service.
				    </p>
				  </div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="media">
				  <a class="media-left" href="http://en.wikipedia.org/wiki/Personal_computer">
				    <img class="recommendation-icons" src="https://s3-us-west-1.amazonaws.com/beat-tree-images/computer-icon.gif" alt="desktop-icon">
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">Use a Computer</h4>
				    <p>
				    	BeatTree will run on most mobile devices, but integration with Spotify is not as seamless.  Additionally, viewing any part of the website which includes elements from the D3.js library (graph views) will be very slow.  For best results, use a desktop or laptop.
				    </p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Tutorials</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-6">
				</div>
				<div class="col-xs-6">
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">BeatTree Technologies</h3>
		</div>
		<div class="panel-body">
			<div class="row">
			<div class="col-xs-6">
				<div class="media">
				  <a class="media-left" href="http://rubyonrails.org/">
				    <img class="max-width-200" src="https://s3-us-west-2.amazonaws.com/johnochsioimages/code_logos/RubyOnRails.png" alt="...">
				  </a>
				  <div class="media-body">
				    <h3 class="media-heading">Ruby On Rails</h3>
				    An open-source web framework built in Ruby; convention over configuration.
				  </div>
				</div>
				<div class="media">
				  <a class="media-left" href="http://neo4j.com/">
				    <img class="max-width-200" src="https://s3-us-west-2.amazonaws.com/johnochsioimages/code_logos/neo4j_notag_whitebg.png" alt="...">
				  </a>
				  <div class="media-body">
				    <h3 class="media-heading">Neo4j</h3>
				    Neo4j is an open-source graph database implemented in Java.  A graph database like Neo4j is what makes BeatTree able to query for complex relationships between tracks so quickly.  Neo4j uses the Cypher Query Language, which uses pattern matching to return results.  
				  </div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="media">
				  <a class="media-left" href="http://d3js.org/">
				    <img class="max-width-200" src="https://s3-us-west-2.amazonaws.com/johnochsioimages/code_logos/d3js-logo.png" alt="...">
				  </a>
				  <div class="media-body">
				    <h3 class="media-heading">D3.js</h3>
				    D3.js is a powerful library for data visualization.  In BeatTree, D3 is used to create the force-directed graphs showing relationships between tracks.
				  </div>
				</div>
				<div class="media">
				  <a class="media-left" href="http://backbonejs.org/">
				    <img class="max-width-200" src="https://s3-us-west-2.amazonaws.com/johnochsioimages/code_logos/backbone.png" alt="...">
				  </a>
				  <div class="media-body">
				    <h3 class="media-heading">Backbone.js</h3>
				    Backbone offers client-side structure by introducing model and collections which are synchronized with BeatTree's JSON API.  
				  </div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>