<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">Editing Track</h1>
  </div>

  <%= render 'form' %>
</div>

<%= link_to 'Show', @track %> |
<%= link_to 'Back', tracks_path %>