<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">New Track</h1>
  </div>

  <%= render 'form' %>
</div> 

<%= link_to 'Back', tracks_path, class: 'btn btn-default' %>