<div class="row">
	<h1 class="text-center">BeatTree was built on...</h1>
</div>
<div class="row">
	<hr>
</div>
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="media">
		  <a class="media-left" href="http://rubyonrails.org/">
		    <img class="max-width-200" src="https://s3-us-west-2.amazonaws.com/johnochsioimages/code_logos/RubyOnRails.png" alt="...">
		  </a>
		  <div class="media-body">
		    <h3 class="media-heading">Ruby On Rails</h3>
		    An open-source web framework; convetion over configuration.  
		  </div>
		</div>
		<div class="media">
		  <a class="media-left" href="http://neo4j.com/">
		    <img class="max-width-200" src="https://s3-us-west-2.amazonaws.com/johnochsioimages/code_logos/neo4j_notag_whitebg.png" alt="...">
		  </a>
		  <div class="media-body">
		    <h3 class="media-heading">Neo4j</h3>
		    Neo4j is an open-source graph database implemented in Java.  A graph database like Neo4j is what makes BeatTree able to query for complex relationships between tracks so quickly.  Neo4j uses the Cypher Query Language, which uses pattern matching to return results.  
		  </div>
		</div>
		<div class="media">
		  <a class="media-left" href="http://d3js.org/">
		    <img class="max-width-200" src="https://s3-us-west-2.amazonaws.com/johnochsioimages/code_logos/d3js-logo.png" alt="...">
		  </a>
		  <div class="media-body">
		    <h3 class="media-heading">D3.js</h3>
		    D3.js is a powerful library for data visualization.  In BeatTree, D3 is used to create the force-directed graphs showing relationships between tracks.
		  </div>
		</div>
		<div class="media">
		  <a class="media-left" href="http://backbonejs.org/">
		    <img class="max-width-200" src="https://s3-us-west-2.amazonaws.com/johnochsioimages/code_logos/backbone.png" alt="...">
		  </a>
		  <div class="media-body">
		    <h3 class="media-heading">Backbone.js</h3>
		    Backbone offers client-side structure by introducing model and collections which are synchronized with BeatTree's JSON API.  
		  </div>
		</div>
	</div>
</div>