<div class="row">
	<div class="col-xs-12">
		<h1>Welcome to BeatTree.</h1>
	</div>
	<hr>
</div>
<div class="row">
	<div class="well well-lg">
		You are now an official user of BeatTree.  This means you can now persist changes to the BeatTree database.  Remember, BeatTree is designed for the inquisitive, the insightful, and the observant.  Please take care when creating new relationships.  Please be a good user by following these rules:
		<ul>
			<li>
				Use the version of a track from its original album if possible.  If the original album is not available on Spotify, the next best options are greatest hits albums, or other compilation albums bearing the artist's name.  Try to avoid compilation albums which list "Various" as the artist unless there is simply no other option.
			</li>
			<li>
				Only persist relationships which are substantial.  Previously documented relationships are less likely to be flagged as errors.  <a href="http://www.whosampled.com/">Who Sampled</a> and <a href="https://www.wikipedia.org/">Wikipedia</a> are good places to look for information on samples and covers.
			</li>
			<li>
				Flag incorrect information or relationships by clicking the "contest" button if you see an error.  BeatTree is a community effort, let's keep the data in good shape!
			</li>
			<li>
				<a href="mailto:john.ochs@gmail.com">Email</a> the admin if you see problems or have suggestions!
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<button type="button" class="find-a-track btn btn-primary">Search For a Track</button>
	</div>
</div>