<h3 class="text-center"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Current Track</h3>
<div class="panel panel-default">
	<div class="panel-body" id="nodes-container">
	</div>
</div>