/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.track-show-image {
	width: 100%;
}

.children-marker {
	background-color: green;
	height: 200px;
}

.rotate {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.thumbnail {
	float: left;
	max-width: 210px;
	min-height: 300px;
}

div.thumbnail.comparison {
	min-width: 100%;
	min-height: 300px;
}

iframe.spotplayer {
	width: 100%;
}

button#create-relationship-btn {
	margin-top: 5px;
	width: 100%;
}

button#cancel-relationship-create {
	margin-top: 5px;
	width: 100%;
}

#relationship-clarification-well {
	margin-top: 150px;
}

.relationship-marker {
	position: absolute;
	z-index: 5;
	margin-top: -100px;
	margin-left: -5px;
}

#relation-dropdown {
	position: absolute;
	z-index: 10;
	width: 160px;
	margin-left: 74px;
	margin-top: 40px;
}

.node-view-image {
	width: 100%;
	border-radius: 5px;
}

.no-node-placeholder {
	height: 100%;
	background-color: #e8e8e8;
	color: black;
}

.no-node-placeholder-text {
	.center-block();
}