@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Exo:300);


//MEET JOHN

img.johnimg {
	width: 250px;
	border: 2px solid black;
	border-radius: 20px;
}

img.contact-logo {
	width: 300px;
}


//SPLASH

div.jumbotron#splash-jumbo {
	background-image: url("https://s3-us-west-1.amazonaws.com/beat-tree-images/hiphopbglite.gif");
}
.jumbo-img {
	width: 1000px;
}

//RELATIONSHIP SHOW

.relationship-show-album-img {
	width: 150px;
	height: 150px;
}

.background-grey {
	background-color: whitesmoke;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 7px;
}

.rel-type-designator {
	margin-top: 70px;
}

div.marker1 {
	background-color: black;
	color: white;
}

div.marker2 {
	background-color: #333333;
	color: white;
}

div.marker3 {
	background-color: #666666;
	color: white;
}

div.marker4 {
	background-color: #B2B2B2;
	color: black;
}

div.marker5 {
	background-color: #E6E6E6;
	color: black;
}

div.rel-marker {
	border: 4px solid black;
	border-radius: 10px;
	padding: 5px;
}

.special-red {
	color: red;
}

.floater-right {
	float: right;;
}

//STATS

#stats-container * {
	font-family: 'Exo', sans-serif;
}

div.thumbnail#most-sampled-track {
	min-height: 450px;
	min-width: 270px;
}

//NEW USER PAGE
.sign-up-explore {
	margin-top: 80px;
}

.bt-sign-up-img {
	height: 150px;
	width: 150px;
	float: right;
}

//FEED

#recently-added-track {
	width: 200px;
	height: 150px;
}

tbody#recently-added-tracks-rows tr.track-item td {
	vertical-align: middle;
}

//NODES

//LINKS

//LINK LABELS
.link-label {
	font-family: 'Exo', sans-serif;
	font-weight: bold;
}

//NODE TOOLTIPS

.node-tooltip {
	font-family: 'Exo', sans-serif;
	background-color: '#DDDDDD';
}

//D3 TRACK SHOW VIEWER

div.modal-dialog.track-show-d3 {
	min-width: 1200px;
}

// FOOTER

nav.navbar-fixed-bottom {
	height: 84px;
	
}

.track-queue-container iframe {
	float:left;
}

.track-queue-item-container {
	float: left;
	display: inline-block;
}

button.track-queue-delete {
	float: right;
	height: 80px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

// SEARCH FIELD

.search-results-container {
	overflow-y: scroll;
}

img.tiny-spot-album-preview {
	width: 100%;
	max-width: 60px;
	border-radius: 4px;
	border: 1px solid black;
}

tbody#spot-search-results td {
	vertical-align: middle;
}

tbody#bt-search-results td {
	vertical-align: middle;
}


// TRACK SHOW SPECIFIC

.node-thumbnail-img {
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.current-track-album-show {
	border: 1px solid lightgrey;
	border-radius: 5px;
}


.row.pred-prog-node-row {
	margin-bottom: 5px;
	border: 1px solid lightgrey;
	padding: 3px 0px 3px 0px;
	border-radius: 3px;
	margin-left: 2px;
	margin-right: 2px;
}

.track-show-graph-icon{
	height: 64px;
	width: 64px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #F2F2F2;
}
.current-track-album-show {
	width: 100%;
}

.track-info-follow-on-spotify {
	margin-top: 25px;
	margin-bottom: 10px;
}


img.current-track-node-image {
	width: 100%;
	border: 4px solid #999999;
	border-radius: 25px;
}

.current-track-node-info {
	width: 100%;
	border: 4px solid #999999;
	border-radius: 25px;
}

// MUSIC PLAYER SPECIFIC

ul.dropdown-menu iframe {
	margin-top: -4px;
	margin-bottom: -10px;
}

// NAVBAR

.log-out-btn {
	margin-top: 10px;
	margin-left: 20px;
}

.navbar-btlogo-img {
	height: 45px;
	width: 45px;
}

.navbar-brand.beat-tree-brand {
	height: 100%;
	background-color: #FFFFFF;
	padding: 0px;
	margin-top: 3px;
	margin-left: 30px;
	border-radius: 4px;
}

.beat-tree-header-title {
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 275%;
	margin-left: 20px;
}

.first-left {
	margin-left: 20px;
}

//BACKBONE SITE SPECIFIC

#beat-tree-content {
	margin-top: 80px;
}

// HELPER CSS

.col-centered{
    float: none;
    margin: 0 auto;
}

dl.dl-horizontal.dl-horizontal-special dt {
	width: 110px;
}

dl.dl-horizontal.dl-horizontal-special dd {
	margin-left: 120px;
}

.border-right-ruled {
	border-right: 1px solid black;
}

// Uncatagorized
.track-show-image {
	width: 100%;
}

.children-marker {
	background-color: green;
	height: 200px;
}

.container {
	min-width: 1400px;
}

button.full-width {
	width: 100%;
}

.max-width-200 {
	max-width: 200px;
}

.rotate {
/* Safari */
-webkit-transform: rotate(-180deg);
/* Firefox */
-moz-transform: rotate(-180deg);
/* IE */
-ms-transform: rotate(-180deg);
/* Opera */
-o-transform: rotate(-180deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.thumbnail {
	float: left;
	max-width: 210px;
	min-height: 300px;
}

div.thumbnail.comparison {
	min-width: 100%;
	min-height: 300px;
}

iframe.spotplayer {
	width: 100%;
}

button#create-relationship-btn {
	margin-top: 5px;
	width: 100%;
}

button#cancel-relationship-create {
	margin-top: 5px;
	width: 100%;
}

#relationship-clarification-well {
	margin-top: 150px;
}

.relationship-marker {
	position: absolute;
	z-index: 5;
	margin-top: -100px;
	margin-left: -5px;
}

#relation-dropdown {
	position: absolute;
	z-index: 10;
	width: 160px;
	margin-left: 74px;
	margin-top: 40px;
}

.node-view-image {
	width: 100%;
	border-radius: 5px;
}

.no-node-placeholder {
	height: 100%;
	background-color: #e8e8e8;
	color: black;
}