<td><%= track.get('track_name') %></td>
<td><%= track.get('artist_name') %></td>
<td><%= track.get('album_name') %></td>
<td><button type="button" id="db-check-btn" class="btn btn-small btn-primary">Check Database</button></td>