<td><%= track.get('name') %></td>
<td><%= track.get('artists')[0].name %></td>
<td><%= track.get('album').name %></td>
<td><button type="button" id="db-check-btn" class="btn btn-small btn-success">Check Database</button></td>