<h1>Track Search</h1>
<p>Enter the name of a track and click search...</p>
<label>Track Name
	<input type='text' id='spotify-search-field'>
</label>
<button type='button' id='spotify-search-go' class='btn btn-primary'>Search</button>
<hr>
<h3>Search Results</h3>
<table class="table table-striped">
  <thead>
	  <tr>
		  <th>Track Name</th>
		  <th>Artist</th>
		  <th>Album</th>
		  <th>ID</th>
	  </tr>
  </thead>
  <tbody id="spotify-search-results">
  </tbody>
</table>