<div class="row">
	<div class="col-xs-12">
		<h3>Search For a Track</h3>
		<p><small>Search the BeatTree and Spotify Databases</small></p>
		<label>Track Name
			<input type='text' id='track-search-field'>
		</label>
		<button type='button' id='search-go' class='btn btn-primary'>Search</button>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3>Search Results</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped search-results-container">
		  <thead>
			  <tr>
				  <th>Preview</th>
				  <th>Track Name</th>
				  <th>Artist</th>
				  <th>Album</th>
				  <th>Database Check</th>
			  </tr>
		  </thead>
		  <tbody id="bt-search-results">
		  </tbody>
		  <tbody id="spot-search-results">
		  </tbody>
		</table>
	</div>
</div>