<!DOCTYPE html>
<html>
<head>
  <title>BeatTree</title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-logo-container">
		      <a class="navbar-brand">
		        <img class="navbar-btlogo-img" alt="BeatTree" src="http://www.i2symbol.com/images/abc-123/b/circled_latin_small_letter_b_u24D1_icon_256x256.png">
		      </a>
			  </div>
		    </div>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a data-toggle="collapse" href="#collapse-track-queue">
					<span class="glyphicon glyphicon-collapse-down"></span>
					Show Track Queue
				</a>
			</li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-music"></span> What You're Hearing <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li id="beat-tree-player-viewport">
	            	<iframe src="https://embed.spotify.com/?uri=spotify:track:6Tsu3OsuMz4KEGKbOYd6A0" width="400" height="480" frameborder="0" allowtransparency="true"></iframe>
	            </li>
	          </ul>
	       </li>
	    </ul>
	</div>
</nav>
  <div class="container" id="beat-tree-content">
  </div>
  <div class="collapse" id="collapse-track-queue">
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
	  <div class="row track-queue-container"></div>
  </nav>
	</div>
</body>
</html>
