<div class="row" id="first-row">
	<div class="col-xs-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Recently Added</h3>
			</div>
			<div class="panel-body" id="recently-added-tracks-container">
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Track Name</th>
							<th>Artist</th>
							<th>Album</th>
						</tr>
					</thead>
					<tbody id="recently-added-tracks-rows"></tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Explore</h3>
			</div>
			<div class="panel-body">
				<div class="media">
				  <a class="media-left" href="http://www.beat-tree.com/#search">
				    <img class="track-show-graph-icon" src="https://s3-us-west-1.amazonaws.com/beat-tree-images/search.png" alt="...">
					</a>
				  <div class="media-body">
				    <h4 class="media-heading">Search</h4>
				    Find or Add a Track.
				  </div>
				</div>
				<div class="media">
				  <a class="media-left" href="http://www.beat-tree.com/stats">
				    <img class="track-show-graph-icon" src="https://s3-us-west-1.amazonaws.com/beat-tree-images/stats-icon.png" alt="...">
					</a>
				  <div class="media-body">
				    <h4 class="media-heading">Graph Statistics</h4>
				    View Stats about the BeatTree Database.
				  </div>
				</div>
				<div class="media">
				  <a class="media-left" href="http://www.beat-tree.com/stats">
				    <img class="track-show-graph-icon" src="https://s3-us-west-1.amazonaws.com/beat-tree-images/layout1.png" alt="...">
					</a>
				  <div class="media-body">
				    <h4 class="media-heading">Graph Explorer</h4>
				    Explore the BeatTree Database Graphically.
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>